td {
  text-align: center;
}

i {
  font-size: 24px;
}

.user {
  color: skyblue;
  cursor: pointer;
}

.symbol {
  user-select: none;
  cursor: pointer;

}

.disable {
  color: #ccc;
}

.able-day:hover {
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}

.hidden {
  display: none;
}