td {
  text-align: center;
}

i {
  font-size: 24px;
  padding: 0 20px;
  cursor: pointer;
}

thead {
  text-align: center;
}

#date-container {
  margin-top: 74px;
  text-align: center;
}

#cal-date {
  display: inline-block;
}

#candidates {
  background-color: #fff;
}


.Saturday {
  color: blue;
}

.Sunday {
  color: red;
}

.noselect {
  user-select: none;
  background-color: #fafafa;
}

/* .user {
  color: skyblue;
  cursor: pointer;
} */

.symbol {
  user-select: none;
  cursor: pointer;

}

.disable {
  color: #ccc;
}

.able-day:hover {
  cursor: pointer;
  opacity: 0.5;
  
}

.selected {
  background-color: #B3D9FF;
}

.hidden {
  display: none;
}